<form action="/solr-search/content" method="get" id="views-exposed-form-solr-search-content-page-1" accept-charset="UTF-8" _lpchecked="1">
  <div class="form--inline form-inline clearfix">
    <div class="form-item js-form-item form-type-textfield js-form-type-textfield form-item-keys js-form-item-keys form-no-label form-group">
      <label for="edit-keys" class="control-label sr-only">{{labelText}}</label>
      <input placeholder="Search Acas" autocomplete="off" data-drupal-selector="edit-keys" class="form-text form-control" type="text" id="edit-keys" name="keys" value="" size="30" maxlength="128">
    </div>
    <div data-drupal-selector="edit-actions" class="form-actions form-group js-form-wrapper form-wrapper" id="edit-actions">
      <button data-drupal-selector="edit-submit-solr-search-content" 
      class="button js-form-submit form-submit btn-primary btn icon-before icon-only" 
      type="submit" id="edit-submit-solr-search-content" value="Search" name="">
        <img alt="search button icon" src="/images/icons/icon-search.png">
        <span class="search-text">Search</span>
      </button>
    </div>
  </div>
</form>
