<div id="feedback-wrapper">
  <div id="feedback-form">
    <div class="feedback-question-wrapper">
      <div class="feedback-question">
        <span>{{question-text}}</span>
        {{#each options}}
        {{#if answer}}
        <a href="{{answer.href}}" class="block-feedback__answer" title="{{answer.title}}">{{answer.text}}</a>
        {{/if}}
        {{/each}}
      </div>
    </div>
    <div class="feedback-close-wrapper">
      <span>✕ Close</span>
    </div>
  </div>
</div>