<article data-history-node-id="66" role="article" about="/check-if-your-employer-can-make-deductions-from-your-wages"
  class="details-page teaser">
  <a href="#" rel="bookmark">
    <div class="article__wrapper">
      <h2>
        <span>{{titleText}}</span>
      </h2>
      <div class="article__content">
        <div class="field field--name-field-summary field--type-text-with-summary field--label-hidden field--item">
          {{text}}
        </div>
      </div>
    </div>
  </a>
</article>