<div class="secondary-page-navigation">
  <a class="previous" href="/national-minimum-wage-entitlement">
    <div class="details-wrapper">
      <div class="details">
        <div class="text">{{previousText}}</div>
        <div class="title">{{previousLink}}</div>
      </div>
    </div>
  </a>
  <a class="next no-previous" href="/national-minimum-wage-entitlement/how-the-minimum-wage-is-calculated">
    <div class="details-wrapper">
      <div class="details">
        <div class="text">{{nextText}}</div>
        <div class="title">{{nextLink}}</div>
      </div>
    </div>
  </a>
</div>
