<ul class="list-related">
  {{> @headers--three text="Related Content" size="3"}}
  {{#each items}}
    {{#if related-item}}
      <li>
        <a href="{{related-item.href}}" target="{{related-item.target}}">
          {{related-item.text}}
        </a>
      </li>
    {{/if}}
  {{/each}}
</ul>
