<nav class="nav-related" aria-labelledby="nav-related__title">
  {{> @headers--three text="Related Content" size="3"}}
  <div class="nav-related__list" tabindex="-1">
    <ul>
      <!-- Add ID to header-->
      {{#each items}}
        {{#if related-item}}
          <li>
            <a href="{{related-item.href}}" target="{{related-item.target}}">
              {{related-item.text}}
            </a>
          </li>
        {{/if}}
      {{/each}}
    </ul>
  </div>
</nav>


