<section id="block-betabannerblock" class="block block-general block-beta-banner clearfix">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <span class="beta-icon">{{spanText}}</span> {{text}}
      </div>
    </div>
  </div>
</section>